var module = angular.module("Task.directives", []);
 

module.directive("showTasks", function() {
  return {
    restrict: "E",
    templateUrl: "<%=asset_path 'tasks/index.html' %>",
    controller: tasksCtrl,
    replace: false,
    link: function(scope, elt, attrs, controller) {
    	  scope.fetchTasks();
	  
	  scope.taskShow = function(task) {
	    scope.task =  task;
	    scope.show_tasks = true;
	    scope.edit_tasks = false;
	    scope.fetchsubTasks();
	    scope.show_subtask = true;
	    scope.newtask = {};
	    scope.mytasks = false;
	  };
	  
	  scope.taskEdit = function(task) {
	    scope.task =  task;
	    scope.show_tasks = false;
	    scope.edit_tasks = true;
	  };
        }
  }
});

module.directive("completedTask", function() {
  return {
    restrict: "E",
    templateUrl: "<%=asset_path 'tasks/index.html' %>",
    controller: tasksCtrl,
    replace: false
  }
});

module.directive("newtaskForm", function() {
  return {
    restrict: "E",
    templateUrl: "<%=asset_path 'tasks/task_form.html' %>",
    controller: newTaskCtrl,
    replace: false,
    link: function(scope, elt, attrs, controller) {
    }

  }
});

module.directive("newSubtask", function() {
  return {
    restrict: "E",
    templateUrl: "<%=asset_path 'tasks/task_form.html' %>",
    controller: newsubTaskCtrl,
    replace: false,
    link: function(scope, elt, attrs, controller) {
         //scope.newtask = {};
    }
  }
});

module.directive("edittaskForm", function() {
  return {
    restrict: "E",
    templateUrl: "<%=asset_path 'tasks/task_form.html' %>",
    controller: tasksCtrl,
    replace: false,
    link: function(scope, elt, attrs, controller) {
    	  scope.form = elt.find("form");
	  
    	  scope.taskEdit = function(task) {
	    scope.task =  task;
	    scope.show_tasks = false;
	    scope.edit_tasks = true;
	    scope.newtask = task;
	  };
	  
	  scope.submitForm = function() {
	  alert("asdas");
	  };
        }
  }
});

module.directive('blink', function($timeout) {
  return {
    restrict: 'E',
    transclude: true,
    scope: {},
    controller: function($scope, $element) {
      function showElement() {
        $element.css("display", "inline");
        $timeout(hideElement, 1000);
      }

    function hideElement() {
        $element.css("display", "none");
	$timeout(showElement, 1000);
	}
	showElement();
	},
	template: '<span ng-transclude></span>',
	replace: true
     };
});

module.directive('bDatepicker', function(){
    return {
      require: '?ngModel',
      restrict: 'A',
      link: function($scope, element, attrs, controller) {
        var updateModel;
        updateModel = function(ev) {
          element.datepicker('hide');
          element.blur();
          return $scope.$apply(function() {
            return controller.$setViewValue(ev.date);
          });
        };
        if (controller != null) {
          controller.$render = function() {
            element.datepicker().data().datepicker.date = controller.$viewValue;
            element.datepicker('setValue');
            element.datepicker('update');
            return controller.$viewValue;
          };
        }
        return attrs.$observe('bDatepicker', function(value) {
          var options;
          options = {};
          if (angular.isObject(value)) {
            options = value;
          }
          if (typeof(value) === "string" && value.length > 0) {
            options = angular.fromJson(value);
          }
          return element.datepicker(options).on('changeDate', updateModel);
        });
      }
    };
  });